<div class="el_slideInfinity{{#if modifier}} el_slideInifinity__{{modifier}}{{/if}}">
  <div class="el_slideInfinity_wrapper">
    <div class="el_slideInfinity_list">
      {{#each items}}
      <picture class="el_slideInfinity_item">
        <source type="image/webp" srcset="{{../file-url}}img/common/damy_1200x1200.webp" width="1200" height="1200">
        <img src="{{../file-url}}img/common/damy_1200x1200.jpg" alt="" width="1200" height="1200" decoding="async" loading="lazy">
      </picture>
      {{/each}}
    </div>
    <div class="el_slideInfinity_list">
      {{#each items}}
      <picture class="el_slideInfinity_item">
        <source type="image/webp" srcset="{{../file-url}}img/common/damy_1200x1200.webp" width="1200" height="1200">
        <img src="{{../file-url}}img/common/damy_1200x1200.jpg" alt="" width="1200" height="1200" decoding="async" loading="lazy">
      </picture>
      {{/each}}
    </div>
  </div>
  <div class="el_slideInfinity_wrapper el_slideInfinity_wrapper__reverse">
    <div class="el_slideInfinity_list">
      {{#each items}}
      <picture class="el_slideInfinity_item">
        <source type="image/webp" srcset="{{../file-url}}img/common/damy_1200x1200.webp" width="1200" height="1200">
        <img src="{{../file-url}}img/common/damy_1200x1200.jpg" alt="" width="1200" height="1200" decoding="async" loading="lazy">
      </picture>
      {{/each}}
    </div>
    <div class="el_slideInfinity_list">
      {{#each items}}
      <picture class="el_slideInfinity_item">
        <source type="image/webp" srcset="{{../file-url}}img/common/damy_1200x1200.webp" width="1200" height="1200">
        <img src="{{../file-url}}img/common/damy_1200x1200.jpg" alt="" width="1200" height="1200" decoding="async" loading="lazy">
      </picture>
      {{/each}}
    </div>
  </div>
</div>