<div class="el_imageMultiple el_imageMultiple__3file">
  <picture class="el_imageAspect el_imageAspect__4to3">
    <source type="image/webp" media="(max-width: 767px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="440" height="330">
    <source type="image/webp" media="(min-width: 768px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="440" height="330"><img class="el_imageAspect_image" src="{{file-url}}img/common/damy_1200x900.jpg" alt="" width="440" height="330" decoding="async" loading="lazy">
  </picture>
  <picture class="el_imageAspect el_imageAspect__4to3">
    <source type="image/webp" media="(max-width: 767px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="288" height="216">
    <source type="image/webp" media="(min-width: 768px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="288" height="216"><img class="el_imageAspect_image" src="{{file-url}}img/common/damy_1200x900.jpg" alt="" width="288" height="216" decoding="async" loading="lazy">
  </picture>
  <picture class="el_imageAspect el_imageAspect__4to3">
    <source type="image/webp" media="(max-width: 767px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="440" height="330">
    <source type="image/webp" media="(min-width: 768px)" srcset="{{file-url}}img/common/damy_1200x900.webp" width="440" height="330"><img class="el_imageAspect_image" src="{{file-url}}img/common/damy_1200x900.jpg" alt="" width="440" height="330" decoding="async" loading="lazy">
  </picture>
</div>