<div class="sp_only_none">
  <div class="ly_column_item el_imageAspect el_imageAspect__2to1">
    <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x600.jpg)"></div>
  </div>
  <div class="ly_content ly_column ly_column__column3">
    <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
      <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
    </div>
    <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
      <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
    </div>
    <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
      <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
    </div>
  </div>
</div>

<div class="ly_column ly_column__column3 tab_none">
  <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
    <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
  </div>
  <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
    <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
  </div>
  <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
    <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
  </div>
  <div class="ly_column_item el_imageAspect el_imageAspect__4to3">
    <div class="el_imageAspect_image el_mediaQueryImage" style="background-image: url({{file-url}}img/common/damy_1200x900.jpg)"></div>
  </div>
</div>
